html {
  background-color: #c9d0d7;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
